@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/roboto-slab-v23-latin-regular.eot');
  src: local(''),
       url('fonts/roboto-slab-v23-latin-regular.eot?#iefix') format('embedded-opentype'), 
       url('fonts/roboto-slab-v23-latin-regular.woff2') format('woff2'),
       url('fonts/roboto-slab-v23-latin-regular.woff') format('woff'),
       url('fonts/roboto-slab-v23-latin-regular.ttf') format('truetype'),
       url('fonts/roboto-slab-v23-latin-regular.svg#RobotoSlab') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/roboto-v30-latin-regular.eot');
  src: local(''),
       url('fonts/roboto-v30-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/roboto-v30-latin-regular.woff2') format('woff2'),
       url('fonts/roboto-v30-latin-regular.woff') format('woff'),
       url('fonts/roboto-v30-latin-regular.ttf') format('truetype'),
       url('fonts/roboto-v30-latin-regular.svg#Roboto') format('svg');
}

@font-face {
	font-family: 'RobotoLight';
	src: url('./RobotoLight.eot');
	src: local('RobotoLight'),
	 url('fonts/RobotoLight.woff') format('woff'),
	 url('fonts/RobotoLight.ttf') format('truetype');
}

.ebury {
	text-align: center;
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 400;
	font-size: 50px;
	color: #094358;
}

.whatBorders {
	font-family: sans-serif;
	font-size: 14pt;
	color: #00BEF0;
}

.r {
	font-family: 'Roboto Slab';
	font-size: 12pt;
	color: #094358;
}

.txtLogin {
	margin-left: 40px;
	font-family: 'RobotoLight';
	font-family: 'light'
	font-size: 10pt;
}

.button {
	margin-left: 40px;
	font-family: 'Roboto';
	font-weight: regular;
	font-size: 12pt;
}

.formLogin{
	width: 300px;
	margin: auto;
	height: 120%;
	padding-top: 30px;
	padding-bottom: 30px;
	border-style: groove;
	background-color: #F5F5F5;
}

.error {
	margin-left: 40px;
	font-family: 'Roboto';
	font-weight: regular;
	font-size: 12pt;
	color: #CB2121;
}

.session {
	float: right;
	font-family: 'Roboto';
	font-weight: regular;
	padding: 10px;
}

h2 {
	text-decoration: none;
	text-align: center;
	font-family: 'Roboto';
	font-weight: regular;
	font-size: 16pt;
	color: #094358;
}

.panel {
	margin:auto;
	margin-top: 20px;
	width: 800px;
	height: 500px;
	text-align: center;
	font-family: 'Roboto';
	font-size: 30px;
	border-style: groove;
	color: #00BEF0;
}

.icon {
	width: 70px;
	height: 70px;
}

.formEditarPerfil {
	margin: auto;
	margin-top: 30px;
	font-family: 'Roboto';
	font-weight: regular;
	border-style: groove;
	padding-left: 10px;
	width: 300px;
	height: 350px;
}

.title {
	text-align: center;
	font-family: 'Roboto';
	font-size: 30px;
	color: #00BEF0;
}

.panelListas {
	margin:auto;
	margin-top: 20px;
	text-align: center;
	font-family: 'Roboto';
	font-size: 30px;
	border-style: groove;
	color: #00BEF0;
}

.cuenta {
	margin: auto;
}

.panelClientesAutorizados {
	margin:auto;
	margin-top: 20px;
	width: 700px;
	height: 300px;
	text-align: center;
	font-family: 'Roboto';
	font-size: 20px;
	border-style: groove;
	color: #094358;
}

.formEditarAutoriz {
	margin: auto;
	margin-top: 30px;
	font-family: 'Roboto';
	font-weight: regular;
	border-style: groove;
	padding-left: 10px;
	width: 600px;
	height: 620px;
}

.formCrearAutoriz {
	margin: auto;
	margin-top: 30px;
	font-family: 'Roboto';
	font-weight: regular;
	border-style: groove;
	padding-left: 10px;
	width: 600px;
	height: 620px;
}

.formCrearEmpresa {
	margin: auto;
	margin-top: 30px;
	font-family: 'Roboto';
	font-weight: regular;
	border-style: groove;
	padding-left: 10px;
	width: 380px;
	height: 830px;
}

.formEditarEmpresa {
	margin: auto;
	margin-top: 30px;
	font-family: 'Roboto';
	font-weight: regular;
	border-style: groove;
	padding-left: 10px;
	width: 380px;
	height: 830px;
}

.formCrearUsuario {
	margin: auto;
	margin-top: 30px;
	font-family: 'Roboto';
	font-weight: regular;
	border-style: groove;
	padding-left: 10px;
	width: 650px;
	height: 660px;
}

.formEditarUsuario {
	margin: auto;
	margin-top: 30px;
	font-family: 'Roboto';
	font-weight: regular;
	border-style: groove;
	padding-left: 10px;
	width: 650px;
	height: 660px;
}
.formCrearIndiv{
	margin: auto;
	margin-top: 30px;
	font-family: 'Roboto';
	font-weight: regular;
	border-style: groove;
	padding-left: 10px;
	width: 600px;
	height: 1300px;
}
.formEditarIndiv{
	margin: auto;
	margin-top: 30px;
	font-family: 'Roboto';
	font-weight: regular;
	border-style: groove;
	padding-left: 10px;
	width: 600px;
	height: 1300px;
}
.formCrearSegregada{
	margin: auto;
	margin-top: 30px;
	font-family: 'Roboto';
	font-weight: regular;
	border-style: groove;
	padding-left: 10px;
	width: 550px;
	height: 480px;
}
.formEditarSegregada{
	margin: auto;
	margin-top: 30px;
	font-family: 'Roboto';
	font-weight: regular;
	border-style: groove;
	padding-left: 10px;
	width: 350px;
	height: 400px;
}
.panelLectura{
	margin: auto;
	margin-top: 30px;
	font-family: 'Roboto';
	font-weight: regular;
	border-style: groove;
	padding-left: 10px;
	width: 600px;
	height: 620px;
}

.formHolanda{
	margin: auto;
	margin-top: 30px;
	font-family: 'Roboto';
	font-weight: regular;
	border-style: groove;
	padding-left: 10px;
	width: 570px;
	height: 240px;
}


.formInformes {
	margin:auto;
	margin-top: 20px;
	width: 500px;
	height: 300px;
	text-align: center;
	font-family: 'Roboto';
	font-size: 30px;
	border-style: groove;
	color: #00BEF0;
}

.panelInforme {
	margin:auto;
	margin-top: 20px;
	width: 280px;
	height: 250px;
	text-align: center;
	font-family: 'Roboto';
	font-size: 30px;
	color: #00BEF0;
}

.panelTrans {
	margin:auto;
	margin-top: 16px;
	text-align: center;
	font-family: 'Roboto';
	font-size: 20px;
	border-style: groove;
	color: #094358;
}

.buttonTrans {
	float: left;
	margin-left: 40px;
	font-family: 'Roboto';
	font-weight: regular;
	font-size: 12pt;
}